{% extends 'base.html' %}


{% block content %}
<h1>delete stock...</h1>

<table class="table table-bordered table-hover">
  <thead class="table thead-dark">
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Remove</th>
      
    </tr>
  </thead>
  <tbody>
{% if ticker %}
  	
  	<tr>
  		{% for i in ticker%}
		<th scope="row">{{i|upper}}</th>
		<td> <a href="{% url 'delete' i.id %}"> <button type="button" class="btn btn-outline-danger">Delete stock</button> </a></td>	    

      	
    </tr>
    {% endfor %}

{%endif%}

{% endblock %}